/*
 * XDSMjs
 * Copyright 2016 Rémi Lafage
 */

/* Component types */
.xdsm .user {
    visibility: hidden;
}

.xdsm .optimization {
    fill: #CCCCFF;
    stroke: black;
    stroke-width: 1px;
}

.xdsm .lp_optimization {
    fill: #CCCCFF;
    stroke: black;
    stroke-width: 1px;
}

.xdsm .analysis {
    fill: #CCFFCC;
    stroke: black;
    stroke-width: 1px;
}

.xdsm .function {
    fill: #F2CCD9;
    stroke: black;
    stroke-width: 1px;
}

.xdsm .mda {
    fill: #FFE5CC;
    stroke: black;
    stroke-width: 1px;
}

.xdsm .metamodel {
    fill: #FFFCCC;
    stroke: black;
    stroke-width: 1px;
}

.xdsm .doe {
    fill: #FFFCCC;
    stroke: black;
    stroke-width: 1px;
}

/* Text */
.xdsm text {
  fill: black;
  stroke: none;
  font-size: large;
}
.xdsm tspan.sub {
  font-size: small;
}
.xdsm tspan.sup {
  font-size: small;
}

/* Data */
.xdsm .dataInter polygon {
  fill: #E5E5E5;
  stroke: black;
  stroke-width: 1px;
}

.xdsm .dataIO polygon {
  fill: #FFFFFF;
  stroke: black;
  stroke-width: 1px;
}

/* Dataflow */
.xdsm g.dataflow {
    fill: none;
    stroke: grey;
    stroke-width: 8px;
}

/* Workflow */
.xdsm g.workflow {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}










